@model WebBanGame.Models.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>

<div id="login-section">
    <h2>Đăng ký</h2>

    @if (ViewBag.ErrorMessage != null)
    {
        <p style="color: red;">@ViewBag.ErrorMessage</p>
    }

    <form method="post" action="/Account/Register">
        @Html.AntiForgeryToken()

        <input type="text" name="TenTaiKhoan" placeholder="Tên đăng nhập" required />
        <input type="text" name="HoTen" placeholder="Họ tên" required />
        <input type="text" name="SoDienThoai" placeholder="Số điện thoại" required />
        <input type="email" name="Email" placeholder="Email" required />
        <input type="password" name="MatKhau" placeholder="Mật khẩu" required />
        <input type="password" name="XacNhanMatKhau" placeholder="Xác nhận mật khẩu" required />
        <button type="submit">Đăng ký</button>
    </form>

    <p>Đã có tài khoản? <a href="/Account/DangNhap">Đăng nhập</a></p>
</div>
